body {
    background-color: #ffff;
}


#output > div {
    padding-bottom: 7px;
}

.mixmatch {
    padding-top: 5px;
}

.loadingDiv{
    padding-top: 30px;
}

.card-container {
    perspective: 1000px;
}

.card {
    cursor: pointer;
    position: relative;
    width: 96px;
    height: 133px;
    border: none;

}

.card.visible .pokemoncardcard-back {
    transform: rotateY(-180deg); 
  }

.card.visible .pokemoncard-front {
    transform: rotateY(0); 
  }

.pokemoncard-back {
    background-image: url(/assets/images/pokemoncard_back.png); 
    transform: rotateY(0); 

}

.pokemoncard-front {
    background-color: #ffff;
    transform: rotateY(180deg);
    border: 2px solid #000;
    border-radius: 10px;


}

.pokemon {
    padding-top: 15px;
}

.transformation {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 600ms ease-in-out;
    backface-visibility: hidden;

  }

