
/* --------- Global ----------- */

body {
    background-color: #f9f9f9;
}

a,
a:hover,
a:focus {
    color: inherit;
    outline: 0;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.play {
    color: rgb(255, 0, 170);
}

/* --------- Audio Controls ----------- */

.mute-all:hover {
    color: red;
}

.sound-on:hover {
    color: rgb(0, 158, 71);
}

/* --------- Pokemon Cards ----------- */

.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
    padding-top: 10px;
}

.pokemon {
    margin-top: 20px;
}

.card {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 139px;
    border: none;

}

.card.visble .pokemoncardcard-back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg); 
  }

.card.visible .pokemoncard-front {
    -webkit-transform: rotateY(0); 
    -ms-transform: rotateY(0); 
    transform: rotateY(0); 
  }

.matched {
    pointer-events: none;
}

.can-not-flip {
    pointer-events: none;
}

.pokemoncard-back {
    background-image: url(../images/pokemoncard_back.png); 
}

.pokemoncard-front {  
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg); 
    border: solid #000;
}

.transformation {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    -o-transition: transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 8px;
    background-color: #fff;


  }

/* --------- Flip Counter ----------- */

.flip-counter {
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}



/* --------- Navigation ----------- */

/* Navbar */

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10x;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Game-Sidebar */

.game-level {
    text-align: center;
    font-size: 15px;
}

.game-level-buttons {
    border-bottom: 2px solid #2c2d2e;
    font-weight: bold;
}

.pokeball {
    list-style-type: none;
}

.content-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

#game-sidebar {
    min-width: 90px;
    max-width: 250px;
    background: rgb(37, 40, 53);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#game-sidebar.active {
    margin-left: -90px;
}

#game-sidebar .sidebar-header {
    text-align: center;
    padding: 10px;
    color: rgb(255, 47, 186);
    border-bottom: 1px solid #2c2d2e;
    background: rgb(37, 40, 53);
}

#game-sidebar ul.components {
    padding: 0px 0;

}

#game-sidebar ul li a {
    padding: 5px;
    font-size: 1em;
    display: block;
}

.easy_text:hover {
    background-color: green;
}

.medium_text:hover {
    background-color: #d9b921;
}

.hard_text:hover {
    background-color: orangered;
}

.extreme_text:hover {
    background-color: red;
}
 
/* --------- Game content ----------- */


#content-game {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}




/* --------- Media Queries ----------- */

/* From tablet size and up */

@media (min-width: 768px) {

    .card {
        cursor: pointer;
        position: relative;
        width: 140px;
        height: 194px;
        border: none;
    
    }

    .pokemoncard-back {
        background-image: url(../images/pokemoncard_large.png); 
    
    }

    .pokemon {
        width: 120px;
        height: 120px;
        margin-top: 35px;
        margin-left: 8px;
    }

    .card-container {
        -webkit-perspective: 500px;
                perspective: 500px;
                padding-top: 22px;
    
    }
}

/* Smaller mobile devices */

@media (max-width: 320px) {

    .card {
        cursor: pointer;
        position: relative;
        width: 90px;
        height: 125px;
        border: none;
    }

    .pokemoncard-back {
        background-image: url(../images/pokemoncard_small.png); 
    
    }

    .pokemon {
        width: 90px;
        height: 90px;
        margin-top: 15px;
    }

}

/* Game-Sidebar */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -90px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
